MAVEN_IMAGE=maven:3.9-eclipse-temurin-17
MYSQL_IMAGE=mysql:8.4
MYSQL_ROOT_PASSWORD=sreaderroot
MYSQL_DATABASE=sreader
MYSQL_USER=sreader
MYSQL_PASSWORD=sreader
MYSQL_TEST_DATABASE=sreadertest
MYSQL_TEST_USER=sreadertest
MYSQL_TEST_PASSWORD=sreadertest
MYSQL_PORT=3306
FLYWAY_IMAGE=redgate/flyway:12.8.1
