MAVEN_IMAGE=maven:3.9.11-eclipse-temurin-25
POSTGRES_IMAGE=postgres:16.9
POSTGRES_DB=sreader
POSTGRES_USER=sreader
POSTGRES_PASSWORD=sreader
POSTGRES_TEST_DB=sreadertest
POSTGRES_TEST_USER=sreadertest
POSTGRES_TEST_PASSWORD=sreadertest
POSTGRES_PORT=5432
FLYWAY_IMAGE=redgate/flyway:12.8.1
SREADER_SCHEDULER_ENABLED=true
SREADER_SCHEDULER_CRON=0 */15 * * * *
SREADER_HTTP_USER_AGENT=SReader/0.1
SREADER_SEED_FEED_URLS=
